In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from pandas.plotting import scatter_matrix
%matplotlib inline

In [8]:
df = pd.read_csv('credit.csv', index_col=0)
df = df[df.Limit > 3500]
df['Student'] = df.Student.map({'No':0, 'Yes':1})
df['Married'] = df.Married.map({'No':0, 'Yes':1})
df['Ethnicity'] = df.Ethnicity.map({'Caucasian':0, 'Asian':1, 'African American':2})
df['Female'] = pd.get_dummies(df.Gender)['Female']
df.drop(['Gender'], axis=1, inplace=True)
df.head(3)

,Income,Limit,Rating,Cards,Age,Education,Student,Married,Ethnicity,Balance,Female
1,14.891,3606,283,2,34,11,0,1,0,333,0
2,106.025,6645,483,3,82,15,1,1,1,903,1
3,104.593,7075,514,4,71,11,0,0,1,580,0

In [36]:
y = df.Balance
X = df[['Limit','Income','Rating','Student']]

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [42]:
model = linear_model.LinearRegression().fit(X_train, y_train)

In [43]:
model.score(X_test, y_test)

0.99024516911113536

In [44]:
model.coef_

array([  2.16173015e-01,  -9.87584036e+00,   1.59330687e+00,
         4.92253327e+02])

In [45]:
model.intercept_

-724.69405340115929

In [60]:
from itertools import combinations

In [66]:
total = 0
for i in range(1,11):
    total += len(list(combinations(['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Student','Married', 'Ethnicity', 'Female'],i)))

In [112]:
rows = []
for i in range(1,11):
    combos = list(combinations(['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Student','Married', 'Ethnicity', 'Female'],i))
    for j,com in enumerate(combos):
        y = df.Balance
        X = pd.DataFrame(df, columns=com)
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
        model = linear_model.LinearRegression(fit_intercept=True).fit(X_train, y_train)
        score = model.score(X_test, y_test)
        s = ', '.join(com)
        rows.append({'Score':score, 'Columns':s, 'Coef':model.coef_,'Int':model.intercept_})
        # print('score:', score, 'columns:', s)
df1 = pd.DataFrame(rows)
df1.head()

                Coef Columns         Int     Score
0    [3.10140736773]  Income  564.006986  0.086668
1   [0.154033096807]   Limit -171.223522  0.537913
2    [2.29397576729]  Rating -254.879310  0.527959
3    [50.7089108911]   Cards  584.296040 -0.023474
4  [-0.434801576922]     Age  758.219638 -0.010028

In [117]:
df1.Score.max()

0.99896112451243235

In [118]:
df1.Score.min()

-0.04516034964418969